/* list */

#list {
    display: block;
    padding: 1em 0;
}

#list .row {
    text-decoration: none;
    padding: 0.75em;
    flex: 1;
    border-bottom: .5px solid #eee;
    display: flex;
    flex-direction: row;
    font-weight: 100;
}

#list .row img {
    width: 4em;
    height: 4em;
    border-radius: 20%;
    box-shadow: 0 0 4px #eee;
}

#list .row .center {
    flex: 1;
    color: #999;
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;
}

#list .row .center .name {
    color: #666;
    font-size: 1.2em;
    flex: 1;
}

#list .row .center .date,
#list .row .center .version {
    font-size: 0.75em;
}

#list .row .right {
    border: 1px solid #1890ff;
    border-radius: 4px;
    color: #1890ff;
    padding: 4px 14px;
    align-self: center;
}

#list .row .right:active {
    color: #333;
    border-color: #333;
}

#list .row .name {
    display: flex;
    align-items: center;
}

.tag {
    padding: 0px 3px;
    font-size: 10px;
    color: #1890ff;
    border: 1px #1890ff solid;
    border-radius: 2px;
    margin-left: 6px;
}

#list .row .icon-tag {
    width: 14px;
    height: auto;
    box-shadow: none;
    margin: 0 0 0 4px;
}

#list .row .icon-tag.android {
    width: 17px;
}